html, body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Poppins'
}

html, body {
  ul {
    list-style-type: none; /* Removes the bullets */
    margin-block-start: 0; /* Removes the default top margin */
    margin-block-end: 0; /* Removes the default bottom margin */
    margin-inline-start: 0; /* Removes the default left margin */
    margin-inline-end: 0; /* Removes the default right margin */
    padding-inline-start: 0; /* Removes the default left padding */
  }
  
}